body {
  font-family:'BodoniModa';
  background-color: #669098;
}

.Main {
  display: flex;
  flex-direction: column;
  background-color: #669098;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.Container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #112a37;
  height: 65vh;
  width: 50vw;
  border-radius: 1%;
  border: 3px solid #d7ceb2;
}


.Word-Container {
  padding-top: 1%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;

}

.Button-Container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.Score-Container{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2%;
}

.Score{
  color: #d7ceb2;
  margin: 0;
  font-size: 2vw;
}

.Highscore{
  color: #d7ceb2;
  margin: 0;
  font-size: 2vw;
}

.Timer-Container{
  display: flex;
  justify-content: center;
  min-height: 6%;
  margin: 0;
  margin-bottom: 2%;
}


/*/MOBILE SCREEN */

@media only screen and (max-width: 600px) {
	.Main {
    display: flex;
    flex-direction: column;
    background-color: #669098;
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
  }
  
  .Container {
    margin-top: 2%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #112a37;
    height: 85vh;
    max-height: 100vh;
    width: 90vw;
    border-radius: 5%;
    border: 3px solid #d7ceb2;
  }
  
  
  .Word-Container {
    padding-top: 1%;
    padding-left: 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .Button-Container {
    display: flex;
    justify-content: space-evenly;
    margin: 0
  }
  
  .Score-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0%;
  }
  
  .Score{
    color: #d7ceb2;
    margin: 0;
    font-size: 6vw;
  }
  
  .Highscore{
    color: #d7ceb2;
    margin: 0;
    font-size: 6vw;
  }
  
  .Timer-Container{
    display: flex;
    justify-content: center;
    min-height: 6%;
    margin: 0;
    margin-bottom: 1%;
  }
}