body {
  font-family:'BodoniModa';
  background-color: #669098;
}

.Main {
  display: flex;
  flex-direction: column;
  background-color: #669098;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.Container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #112a37;
  height: 60vh;
  width: 40vw;
  border-radius: 1%;
  border: 3px solid #d7ceb2;
}


.Word-Container {
  padding-top: 1%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;

}

.Button-Container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.Score-Container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8%;
}

.Score{
  color: #d7ceb2;
  margin: 0;
}

.Highscore{
  color: #d7ceb2;
  margin: 0;
}

.Timer-Container{
  display: flex;
  justify-content: center;
  min-height: 6%;
  margin: 0;
  margin-bottom: 2%;
}
