body {
  font-family:'BodoniModa';
  background-color: #669098;
}

.Main {
  display: flex;
  flex-direction: column;
  background-color: #669098;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.Timer{
  position: absolute;
  z-index: 0;
  width: 40vw;
  height: 60vh;
  background-color: green;
  animation-duration: 60s;
  animation-name: Timer;
  border-radius: 1%;
}

.Container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #112a37;
  height: 60vh;
  width: 40vw;
  border-radius: 1%;
  border: 3px solid #d7ceb2;
}


.Word-Container {
  padding-top: 1%;
  padding-left: 5%;
}

.Button-Container {
  display: flex;
  margin-top: 5%;
  justify-content: space-evenly;
}

.Score-Container{
  display: flex;
  justify-content: space-evenly;
}

.Score{
  color: #d7ceb2;
}

.Highscore{
  color: #d7ceb2;
}

@keyframes Timer{
  0% {width: 100vw;
      height: 150vh}
  100% {width: 40vw;
    height: 60vh}
}