.Button  {
    border: none;
    margin: 5%;
    min-width: 30%;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    padding: 1%;
    border: 1px solid #a59e8c;
    background-color: #d7ceb2;
    color:#112a37;
    opacity: 75%;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 5px;
}

.Button:hover {
    opacity: 100%;
    background-color: #669098;
    color:#192325;
    opacity: 80%;
}